* {font-size: 12px; font-family:"Lucida Grande","Luxi Sans","Trebuchet MS","Bitstream Vera Sans",helvetica,verdana,arial,sans-serif;}

.pt0 * {font-family: arial; font-size: 11px;}

a			{ text-decoration: none; color:#666666; }
a:active	{ color: #666666;	}
a:hover	{ color: #666666;	text-decoration: underline;;}
    
blockquote {	}

ul { margin-top:0;margin-bottom:0px;}	
ol { margin-top:0;margin-bottom:0px;}
li { color: #3F4852; margin: 0 0 0 0;}
          
p { color: #3F4852; margin: 0 0 5px 0;}
p a			{ font-weight: bold; color: #00b201; text-decoration: none; }
p a:active	{ font-weight: bold; color: #00b201; text-decoration: underline; }
p a:hover	{ font-weight: bold; color: #00b201; text-decoration: underline; }


form { margin: 0; padding: 0; }
body { }

td { }

h1 { font-size: 16px; margin-bottom: 10px !important; }
h2 { font-size: 14px; font-weight: bold; margin: 10px 0px 10px 0px !important; color: #00b201; }
h3 {}
h4 {}

/*date*/
h5		{font-weight: normal; color: #3F4852; margin: 0; padding: 0 0 3px 0;}
/*more*/
h6		{text-align	: right;margin: 0;}

.tools	{background-color: #E5E6F5;}

.logo	{padding: 0;}
.menu	{padding: 0;}
.kolory	{padding: 0;}
.pdf	{padding: 0;}
.mov	{padding: 0;}
.ramka { background-color: white; border: 3px solid #00b201; margin: 10px 10px 10px 10px;}

.galeria			{ text-decoration:none;}
.galeria_tytul	{ font-size: 16px; font-style: normal; margin-bottom: 10px !important;  font-weight: bold; padding: 0px 10px 10px 0px;}

.banner {margin: 0px 0px 0px 0;}
.banner {background-color: #fff; }
.banner_logo	{text-align: center; margin: 0; padding: 0;}

.horizontal	{text-align: center; margin: 0; padding: 0;}

.flash_left {float: left; margin: 0 25px 25px 0;}
.mail	{font-weight: bold;}

.list_table {
	width:100%;
}
