.slider
{
	margin-top: 2em;
	margin-bottom: 1em;
	background: white;
	height: 0.8em;
	min-width: 30em;
	margin: 0;
	font-size: 9pt;
	width: 100%;
	border-radius: 1em;
	border: 1px solid rgba(0, 0, 0, 0.4);
	position: relative;
}
.slider-range,
.ui-slider-range
{
	background: #ccc;
	position: absolute;
	height: 0.8em;
	border-radius: 1em;
	z-index: 2;
}
.slider-handle,
.ui-slider-handle
{
	width: auto;
	min-width: 1.2em;
	background-color: #999;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 0.2em;
	margin: -0.5em 0 0 -0.5em;
	border-radius: 0.4em;
	border: 1px solid rgba(0, 0, 0, 0.4);
	position: absolute;
	font-size: 11pt;
	z-index: 3;
}
